<h1 class="title">{{site.about_me_title}}</h1>
<p class="description" data-aos="fade-down">
  👋 Hi, my name is Caleb Churata and I am from Peru. 
</p>
<p class="description" data-aos="fade-down">
  👨‍💻 I am currently a student of Mechatronics Engineering at the University of Engineering and Technology (UTEC) in Peru.
</p>
<p class="description" data-aos="fade-down">
  💻 I have a passion for open-source projects and enjoy sharing my code on  <a class="highlight-link"
    href="https://github.com/caleisach" target="_blank" rel="noreferrer"> Github </a>. I am particularly interested in the field of robotics and research in this field, as well as machine learning. I hope to be more than just an observer of these exciting contributions in the future.
</p>
<p class="description" data-aos="fade-down">
  👥 I have experience working in agile environments and am a convinced advocate of clean code.
</p>
<p class="description" data-aos="fade-down">
  🤖 I like to automate repetitive tasks on my computer using bash and python scripting.
</p>
<p class="description" data-aos="fade-down">
  📈 I am excited to apply my knowledge and skills to projects that involve robotics and machine learning, and I am committed to staying up-to-date with the latest developments in these fields.
</p>
<p class="description" data-aos="fade-down">
  On my website, you will find a portfolio of my projects and some of my research work. I am also available for consulting and collaboration on projects related to robotics and automation. Feel free to contact me if you have any questions or if you would like to discuss a project. Thank you for visiting my website.
</p>

